a {
    color: #66a143;
}

a:hover {
    color: #3f6528;
}

.left-side-menu-detached .side-nav-light .side-nav-link.active,
.left-side-menu-detached .side-nav-light .side-nav-link:active,
.left-side-menu-detached .side-nav-light .side-nav-link:focus,
.left-side-menu-detached .side-nav-light .side-nav-link:hover {
    color: #66a143;
}

.left-side-menu-detached .side-nav-light .side-nav-second-level li a:focus,
.left-side-menu-detached .side-nav-light .side-nav-second-level li a:hover,
.left-side-menu-detached .side-nav-light .side-nav-third-level li a:focus,
.left-side-menu-detached .side-nav-light .side-nav-third-level li a:hover {
    color: #66a143;
}

.navbar-custom.topnav-navbar {
    background-image: linear-gradient(130deg, #5f9e45 0%, #fff200 90%);
}

.topnav-navbar-dark .nav-user {
    background-color: #63a143;
    border: 1px solid #63a143;
}

.visit_website .btn.btn-outline-light {
    background: white;
    color: #66a143;
    font-weight: bold;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: #8ab610;
}

.btn-primary {
    color: #fff;
    background-color: #8ab610;
    border-color: #8ab610;
}

.btn-primary:hover {
    color: #fff;
    background-color: #66a143;
    border-color: #66a143;
}

.btn-outline-primary {
    color: #8ab610;
    border-color: #8ab610;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #66a143;
    border-color: #66a143;
}