body {
    background-color: #fff !important;
}

.card {
    border-radius: 0px !important;
    background-color: #f7f8fa !important;
    border: 0px !important;
}

.course_card {
    padding: 0px;
    background-color: #F7F8FA;
}

.course_container {
    background-color: #fff !important;
}

.course_col {
    padding: 0px;
}

.course_header_col {
    background-color: #29303b;
    color: #fff;
    padding: 15px 10px 10px;
}

.course_header_col img {
    padding: 0px 0px;
}

.course_btn {
    /* color: #95979a;
    border: 1px solid #95979a; */
    padding: 7px 10px;
}

.course_btn:hover {
    color: #fff;
    border: 1px solid #fff;
}

.lesson_duration {
    border-radius: 5px;
    padding-top: 8px;
    color: black;
    font-size: 13px;
    font-weight: 100;
}

.quiz-card {
    border: 1px solid #dcdddf !important;
}

.bg-quiz-result-info {
    background-color: #007791 !important;
    padding: 13px !important;
}

.form-group {
    display: inline;
    margin-bottom: 15px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #a6ce39;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 5px;
    height: 11px;
    border: solid #097e97;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.course_header_col {
    background-color: #8ab610 !important;
}


.course_btn {
    color: white;
    border: 1px solid white;
}

.course_header_col.c-right {
    margin-left: auto;
    text-align: right;
    padding-right: 30px;
}

#section_and_lessons-tab {
    text-transform: uppercase;
}

.video-player-area {
    min-height: 400px;
}

.course_btn.my-course {
    color: white !important;
    background-color: #ec5252 !important;
    border-color: #ec5252 !important;
}

.course_header_col.c-left h5 {
    font-weight: 800;
}

.no-padding {
    padding: 0px !important;
}

#lesson_list_area h5 {
    font-weight: bold;
    text-align: left;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px #8ab611 solid;
}

.course_container .lesson-image-wrapper {
    width: 100%;
    object-fit: contain;
}

.course_container .card-title {
    color: #8ab611
}

#lessonTabContent {
    max-height: 80%;
    overflow-y: auto;
}