@media (min-width:1500px) {}

/*
    menu resonsive for 768px+
*/
@media (min-width:768px) {}

/*
    responsive mobile menu 767px-
*/
@media (max-width:991px) {}

/*
    responsive mobile menu 767px-
*/
@media (max-width:767px) {
    #lessonTabContent {
        max-height: max-content;
        overflow-y: inherit;
    }

    .course_header_col,
    .course_header_col.c-right {
        padding: 5px 10px;
    }

    .top-bar-wrapper>.row {
        padding-bottom: 8px;
        background: #8ab610;
    }

    .course_btn.toggle-lesson-view {
        display: none;
    }

    .course_header_col.c-right {
        text-align: left;
    }

    .video-player-area {
        min-height: auto;
    }
}